* {
    box-sizing: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
}

html {
    font-size: calc(1em + 1vw);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header article {
    background-color: gainsboro;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
    background-size: cover;
    text-align: center;
}

header img {
    float: right;
    position: relative;
    bottom: 50px;
}

header nav ul li {
    text-decoration: none; 
    color: #000; 
    padding: 1rem; 
    display: inline-block; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 150px;
    text-align: center;
}

main {
    padding: 1rem;
}

main section h2 {
    text-align: center;
    padding: 20px; 
    background-size: cover;
    background-color: gainsboro;
    margin-bottom: 15px;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}

main section article{
    text-align: start;
    padding: 1rem;
    background-size: cover;
    background-color: gainsboro;
    margin-bottom: 15px;
}

.image-container {
    display: flex;
    width: 100%; 
}

#leftimage {
    max-width: 100%;
    margin-left: auto;
}

#rightimage {
    max-width: 100%;
    margin-right: auto;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}


.Kasse * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.Kasse html {
    font-size: calc(1em + 1vw);
}


.Kasse body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; 
}

.Kasse header {
    text-align: center;
    background-color: #dcdcdc; 
    background-size: cover;
    padding: 20px;
}


.Kasse .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px; 
}


.Kasse .Image-Container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#leftimage,
#rightimage {
    max-width: 100%;
    margin: 0 auto; 
}

.Kasse main section article h2 {
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-color: gainsboro;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;;
}

.Kasse main section h3 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Kasse main section img {
    display: block;
}

.Kasse main section article h4 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Kasse main section h5 {
    display: inline-block;
    margin: 15px 10px;
    background-color: white; 
    text-align: center;
}

.Kasse main section {
    text-align: center;
}

.Kasse main section article {
    background-color: #ffffff;
}



.Kasse .hjemlevering-box {
    border: 1px solid #ccc; 
    padding: 20px;
    margin-bottom: 15px;
}

.Kasse h3 {
    margin-top: 10px; 
}

.Kasse h2 {
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-color: gainsboro;
    margin-bottom: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .Kasse .grid-container {
        grid-template-columns: 1fr; 
    }

    .Kasse .container {
        padding: 10px;
    }

    
}

.Produktside header {
    background-color: gainsboro;
}

.Produktside header h1 {
    text-align: center;
}


.Produktside main section h1 {
    padding: 0rem;
    float: left;
    background-color: white;
    margin-bottom: 20px;
}
.Produktside main section h2 {
    padding: 0rem;
    float: right;
    background-color: white;
}

.Produktside main h3 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px; 
}

.Produktside main .image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}


.Produktside main h4 {
    text-align: left;
    background-color: white;
    padding: 0rem;
}

.Produktside main h5 {
    text-align: left;
    background-color: white;
    padding: 0rem;
}

.Produktside main img {
    float: right;
}

.Produktside main div img {
    display: block;
}

@media (max-width: 768px) {
    .Produktside .container {
        padding: 10px;
    }
}















